.user{
    flex: 4;
    padding:20px;
}
.userTitelContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.userAddButton{
    width: 80px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color:teal ;
    color: white ;
    cursor: pointer;
    font-size: 16px;
}
.userInfoContainer{
    display: flex;
    margin-top: 20px;
}
.userShow{
    flex: 1;
    padding: 20px;
    box-shadow: 3px -1px 33px -13px rgba(0,0,0,0.45);
    -webkit-box-shadow: 3px -1px 33px -13px rgba(0,0,0,0.45);
    -moz-box-shadow: 3px -1px 33px -13px rgba(0,0,0,0.45);
    margin-right: 10px;
}
.userUpdate{
    flex: 2;
    padding: 20px;
    box-shadow: 3px -1px 33px -13px rgba(0,0,0,0.45);
    -webkit-box-shadow: 3px -1px 33px -13px rgba(0,0,0,0.45);
    -moz-box-shadow: 3px -1px 33px -13px rgba(0,0,0,0.45);
    margin-left: 10px;
}

.userShowTop{
    display: flex;
    align-items: center;
}

.userShowImg{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.userShowTopTitle{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.userShowUserName{
    font-weight: 600;
}
.userShowUserPost{
    font-weight: 300;
}

.userInfoTitle{
    font-size: 14px;
    font-weight: 600;
    color: rgb(175, 170, 170);
}
.userShowInfo{
    display: flex;
    align-items: center;
    color: #444;
    margin: 20px 0;
}
.userShowIcon{
    font-size: 16px !important;
}
.userShowUserAccount{
    margin-left: 10px;
}

.userUpdateForm{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.userUpdateItem{
    display: flex;
    flex-direction: column;
    margin-top:10px;
}

.userUpdateItem > label{
    margin-bottom: 5px;
    font-size: 14px;
   
}
.userUpadateInput{
    border: none;
    width: 250px;
    height: 30px;

    border-bottom: 1px solid gray;
}
.userUpdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.userUpdateUpload{
    display: flex;
    align-items: center;
}

.userUpdateIcon{
    cursor: pointer;
    margin-left: 10px;
}
.userUpdateButton{
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: darkblue;
    color: white;
    font-weight: 600;
    padding: 5px;
}
.userUpdateImg{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 10px;
}